.iframe {
    text-align: center;
}

#iframe1 {
    position:absolute;
    left: 2%;
    width: 96%;
    top: 10%;
    height: 89%;
}

body {
    margin: 0;
    overflow: hidden;
}

a {
    color: white;
}

.filters {
    padding-right: 15px;
    padding-left: 0px;
    font-weight: bold;
}

.liHover:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #666666;
    color: white;
}

#table-iframe {
    width:90%;
    height:90%;
}