.iframe {
    text-align: center;
}

a {
    color: white;
}

.filters {
    padding-right: 15px;
    padding-left: 0px;
    font-weight: bold;
}

.liHover:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #666666;
    color: white;

}