table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;

}

td, th {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input {
    border-radius: 3px;
}

.pic {
    margin: auto 30px;
    padding-top: 15px;
}