{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('.static', filename='picture_style.css') }}">
{% endblock %}

{% block content %}

<div class="table">
    <div class="pic">
        <form method="post" action="/picture_search">
            {{ form.hidden_tag() }}
            <p style="color:white;font-weight:bold;">Start : {{ form.date() }} {{ form.time() }}</p>
            <br>
            <p style="color:white;font-weight:bold;">End &nbsp: {{ form.date2() }} {{ form.time2() }}</p>
            <br>
            {{ form.submit() }}
        </form>
        <hr style="border-color: black;">
        <br>


        {% if res %}
        <p style="color:white; text-align:center;">Total search : {{ hits }}</p>
        <table align="center">
            <tr>
                <th>No.</th>
                <th>Date/Time</th>
                <th>Number of birds</th>
                <th>Pictures</th>
            </tr>
            {% for i in res %}
            <tr>
                <td>{{ res[i]['index'] }}</td>
                <td><p style="color: black; width:max-content;"> {{ res[i]['time'] }}</p></td>
                <td>{{ res[i]['numDetect'] }}</td>
                <td>
                    <button class="multimodal" datasrc="" type="submit" style="border: 0; background: transparent;">
                        <img src="{{url_for('static', filename='search_icon.png')}}" width="40" height="40"
                             alt="Image ERROR" onclick="onClickmodal(this, '{{i}}')"></button>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    </div>
</div>

<div id="myModal-pic" class="modal2" onclick="closeModal(this)">
    <!-- The Close Button -->
    <span class="close2">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <!-- Modal Content (The Image) -->
    <img class="modal-content2" id="img-pic">
</div>

<script>

function closeModal(element){
    document.getElementById("myModal-pic").style.display = 'none';
}

function onClickmodal(element, imageid) {

  $.ajax({type:'POST',
            url:'/render_img/' + imageid,
            cache: false,
        timeout: 10000,
        error: function(){
            console.log('OK');
            return true;
        },
        success: function(msg){
            var image_url = "/static/temp_image.jpg?dummy="+(new Date()).getTime();
            var img_ = new Image();
            img_.onload = function() {
                console.log("img Loading");
            };
            img_.onerror = function() {
                console.log("ERROR");
            };
            img_.src = image_url;

            document.getElementById("img-pic").src = img_.src;
            document.getElementById("myModal-pic").style.display = "block";
        }});


}

</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{% endblock %}